# Node dependencies
.theme/node_modules/

# Nuxt dev/build outputs
.theme/.nuxt
.theme/.nitro
.theme/.cache
.theme/.output
.theme/dist
.theme/.data

# Misc
.editorconfig
.vscode
.vs
*.swp
.DS_Store
.fleet
.idea

# Logs
logs
*.log

# Local env files
.theme/.env.local

# prebuild files
.theme/.public
.theme/.temp
.theme/content
