.card {
  flex-direction: column;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &--align_left {
    justify-content: left;
    align-items: left;
    text-align: left;
  }

  h2 {
    color: var(--color-fg-mute);
    margin: 0px;
  }
}

.slider .slider__content h2 {
  margin-top: 0;
}

.slider {
  &__content {
    color: var(--color-bg);

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-bg);
    }

    code {
      background-color: var(--color-fg-mute);
      border-radius: var(--border-radius);
    }
  }
}
