body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(var(--width-content) + 30ch);
}

code {
    border-radius: var(--border-radius);
}

img.mouseless:is(.logo:is(.mark:is(.mono:is(.invert)))) {
    content: url(https://raw.githubusercontent.com/mouseless/brand/main/assets/logo/svg/logo-mark-white.svg);
}

img.mouseless:is(.logo:is(.mark:is(.mono))) {
    content: url(https://raw.githubusercontent.com/mouseless/brand/main/assets/logo/svg/logo-mark-black.svg);
}
