.card {
  h2 {
    color: var(--color-fg-mute);
    margin: 0px;
  }
}

.slider {

  a {
    text-decoration: none;
  }

  &__content {

    h2 {
      margin-top: 0;
    }

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-fg-mute);
    }

    code {
      background-color: var(--color-bg-mute);
      border-radius: var(--border-radius);
    }
  }
}
