:root {
  --color-dark-link: var(--color-darkgreen-900);
  --color-dark-link-hover: var(--color-red-700);
  --color-dark-box-bg: var(--color-white);
  --color-dark-text-heading: var(--color-black);
  --color-dark-text-normal: var(--color-darkgreen-900);
  --color-dark-text-highlight: var(--color-red-700);

  --color-light-link: var(--color-gray-100);
  --color-light-link-hover: var(--color-green-500);
  --color-light-box-bg: var(--color-darkgreen-800);
  --color-light-text-heading: var(--color-white);
  --color-light-text-normal: var(--color-gray-400);
  --color-light-text-highlight: var(--color-green-500);
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.7em; }
h6 { font-size: 1.5em; }

h1+h1, h2+h2, h3+h3, h4+h4, h5+h5, h6+h6 {
  margin-top: -0.5em !important;
}

h3+h1 {
  margin-top: -0.2em !important;
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;

}

code {
  border-radius: var(--border-radius);
  background-color: transparent;
}

summary {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-md);

  a {
    cursor: pointer;
  }
}
